// 50MHz clock
IO_LOC  "clk_i" V22;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// Key 0
IO_LOC  "rst_ni" AA13;
IO_PORT "rst_ni" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// PMOD0 LED0
IO_LOC  "status_pll_locked_no" T18;
IO_PORT "status_pll_locked_no" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// PMOD0 LED1
IO_LOC  "status_running_no" R18;
IO_PORT "status_running_no" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// PMOD0 LED2
IO_LOC  "status_ddr3_init_done_no" R17;
IO_PORT "status_ddr3_init_done_no" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// JTAG on FPGAs JTAG pins
IO_LOC  "jtag_tck_i" V12;
IO_PORT "jtag_tck_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "jtag_tdi_i" R13;
IO_PORT "jtag_tdi_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "jtag_tdo_o" U13;
IO_PORT "jtag_tdo_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "jtag_tms_i" T13;
IO_PORT "jtag_tms_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// Key 1
IO_LOC  "jtag_trst_ni" AB13;
IO_PORT "jtag_trst_ni" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// DDR3 Signals
IO_LOC  "ddr_bank_o[2]" M6;
IO_PORT "ddr_bank_o[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank_o[1]" P2;
IO_PORT "ddr_bank_o[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank_o[0]" P5;
IO_PORT "ddr_bank_o[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_addr_o[13]" K1;
IO_PORT "ddr_addr_o[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[12]" K4;
IO_PORT "ddr_addr_o[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[11]" H3;
IO_PORT "ddr_addr_o[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[10]" L1;
IO_PORT "ddr_addr_o[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[9]"  H5;
IO_PORT "ddr_addr_o[9]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[8]"  J5;
IO_PORT "ddr_addr_o[8]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[7]"  J1;
IO_PORT "ddr_addr_o[7]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[6]"  G3;
IO_PORT "ddr_addr_o[6]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[5]"  H2;
IO_PORT "ddr_addr_o[5]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[4]"  J2;
IO_PORT "ddr_addr_o[4]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[3]"  J4;
IO_PORT "ddr_addr_o[3]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[2]"  G2;
IO_PORT "ddr_addr_o[2]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[1]"  K2;
IO_PORT "ddr_addr_o[1]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr_o[0]"  M1;
IO_PORT "ddr_addr_o[0]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_odt_o"    M2;
IO_PORT "ddr_odt_o"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cke_o"    K6;
IO_PORT "ddr_cke_o"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_we_no"    M5;
IO_PORT "ddr_we_no"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cas_no"   L4;
IO_PORT "ddr_cas_no"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ras_no"   L5;
IO_PORT "ddr_ras_no"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cs_no"    P4;
IO_PORT "ddr_cs_no"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_reset_no" L6;
IO_PORT "ddr_reset_no" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ck_o"     L3,K3;
IO_PORT "ddr_ck_o"     IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm_o[3]"  W1;
IO_PORT "ddr_dm_o[3]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm_o[2]"  T6;
IO_PORT "ddr_dm_o[2]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm_o[1]"  V7;
IO_PORT "ddr_dm_o[1]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm_o[0]"  AA4;
IO_PORT "ddr_dm_o[0]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_dq_io[31]" Y2;
IO_PORT "ddr_dq_io[31]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[30]" U1;
IO_PORT "ddr_dq_io[30]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[29]" V2;
IO_PORT "ddr_dq_io[29]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[28]" U2;
IO_PORT "ddr_dq_io[28]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[27]" U3;
IO_PORT "ddr_dq_io[27]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[26]" T1;
IO_PORT "ddr_dq_io[26]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[25]" Y1;
IO_PORT "ddr_dq_io[25]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[24]" W2;
IO_PORT "ddr_dq_io[24]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[23]" T5;
IO_PORT "ddr_dq_io[23]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[22]" V5;
IO_PORT "ddr_dq_io[22]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[21]" T4;
IO_PORT "ddr_dq_io[21]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[20]" Y6;
IO_PORT "ddr_dq_io[20]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[19]" R4;
IO_PORT "ddr_dq_io[19]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[18]" U6;
IO_PORT "ddr_dq_io[18]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[17]" R6;
IO_PORT "ddr_dq_io[17]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[16]" U5;
IO_PORT "ddr_dq_io[16]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[15]" Y9;
IO_PORT "ddr_dq_io[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[14]" AB6;
IO_PORT "ddr_dq_io[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[13]" W9;
IO_PORT "ddr_dq_io[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[12]" AB8;
IO_PORT "ddr_dq_io[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[11]" Y7;
IO_PORT "ddr_dq_io[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[10]" AB7;
IO_PORT "ddr_dq_io[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[9]"  Y8;
IO_PORT "ddr_dq_io[9]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[8]"  AA8;
IO_PORT "ddr_dq_io[8]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[7]"  AB1;
IO_PORT "ddr_dq_io[7]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[6]"  AB5;
IO_PORT "ddr_dq_io[6]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[5]"  AB2;
IO_PORT "ddr_dq_io[5]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[4]"  AA1;
IO_PORT "ddr_dq_io[4]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[3]"  V4;
IO_PORT "ddr_dq_io[3]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[2]"  AA5;
IO_PORT "ddr_dq_io[2]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[1]"  AB3;
IO_PORT "ddr_dq_io[1]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq_io[0]"  Y4;
IO_PORT "ddr_dq_io[0]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_dqs_io[3]" R3,R2;
IO_PORT "ddr_dqs_io[3]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs_io[2]" W6,W5;
IO_PORT "ddr_dqs_io[2]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs_io[1]" V9,V8;
IO_PORT "ddr_dqs_io[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs_io[0]" Y3,AA3;
IO_PORT "ddr_dqs_io[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
