name: Lint RTL
on: [push, pull_request, workflow_dispatch]
jobs:
  verible-lint:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: .bender
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Verible Lint
        uses: chipsalliance/verible-linter-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths: |
            ./rtl
            ./test

  verilator-lint:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: .bender
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Verilator Lint
        run: make lint-verilator

  lint-license:
    name: Lint License Headers
    runs-on: ubuntu-latest
    steps:
      - name: lint license
        uses: pulp-platform/pulp-actions/lint-license@v2.4.3
        with:
          license: |
            Copyright (\d{4}(-\d{4})?\s)?(Tobias Senti|ETH Zurich and University of Bologna)
            (Solderpad Hardware License, Version 0.51|Licensed under the Apache License, Version 2.0), see LICENSE for details.
            SPDX-License-Identifier: (SHL-0.51|Apache-2.0)
          exclude_paths: |
            .github/*
            .vscode/*
            asic/*
            gowin/*
            test/util/*
            vendor/*
            verilator/*
            xilinx/*
