name: Lint RTL
on: [push, pull_request, workflow_dispatch]
jobs:
  verible-lint:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Verible Lint
        uses: chipsalliance/verible-linter-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths: |
            ./src
            ./test

  verilator-lint:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Verilator Lint
        run: make lint-verilator
