name: Simulate
on: [push, pull_request, workflow_dispatch]
jobs:
  # Sweep multiple compute unit configurations
  sweep_tb_compute_unit:
    runs-on: self-hosted
    needs: tb_compute_unit
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Sweep Parameters in Testbench
        run: ./sweep.sh

  # Main testbench for compute unit
  tb_compute_unit:
    runs-on: self-hosted
    needs: [tb_register_file_bank_singleport, tb_register_file_bank_dualport, tb_operand_collector]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_compute_unit

  # Testbenches for individual components
  tb_register_file_bank_singleport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0"

  tb_register_file_bank_dualport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b1"

  tb_operand_collector:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_operand_collector
 