name: Simulate
on: [push, pull_request, workflow_dispatch]
jobs:
  sweep_tb_compute_unit:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Sweep Parameters in Testbench
        run: ./sweep.sh

  tb_compute_unit:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_compute_unit

  tb_register_file_bank_singleport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0"

  tb_register_file_bank_dualport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b1"
 