name: Simulation
on: [push, pull_request, workflow_dispatch]
jobs:
  # Sweep multiple compute unit configurations
  sweep_tb_compute_unit:
    runs-on: self-hosted
    needs: tb_compute_unit
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Sweep Parameters in Testbench
        run: ./sweep.sh

  # Main testbench for BGPU SoC
  tb_bpu_soc:
    runs-on: self-hosted
    needs: [tb_thread_dispatcher, tb_compute_cluster]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_bgpu_soc VERILATOR_ARGS='-DBENCHMARK=\"add_2\"'

  # Thread Dispatcher Testbench
  tb_thread_dispatcher:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_thread_dispatcher

  # Main testbench for compute cluster
  tb_compute_cluster:
    runs-on: self-hosted
    needs: tb_compute_unit
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_compute_cluster

  # Main testbench for compute unit
  tb_compute_unit:
    runs-on: self-hosted
    needs: [tb_instruction_cache, tb_tag_queue, tb_operand_collector, tb_register_opc_stage, tb_load_store_unit, tb_fop_tmux]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_compute_unit

  # Floating-Point Operation Time-Multiplexing
  tb_fop_tmux:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_fop_tmux

  # Instruction Cache Testbench
  tb_instruction_cache:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_instruction_cache

  # Tag Queue Testbench
  tb_tag_queue:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_tag_queue

  # Register File Bank Testbenches
  tb_register_file_bank_singleport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0"

  tb_register_file_bank_dualport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b1"

  # Operand Collector Testbench
  tb_operand_collector:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_operand_collector

  # Register Operand Collector Stage Testbenches
  tb_register_opc_stage:
    runs-on: self-hosted
    needs: [tb_register_file_bank_singleport, tb_register_file_bank_dualport, tb_operand_collector]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_opc_stage

  tb_register_opc_stage_single_bank:
    runs-on: self-hosted
    needs: [tb_register_file_bank_singleport, tb_register_file_bank_dualport, tb_operand_collector]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_opc_stage VERILATOR_ARGS="-GNumBanks=1"

  tb_register_opc_stage_single_warp:
    runs-on: self-hosted
    needs: [tb_register_file_bank_singleport, tb_register_file_bank_dualport, tb_operand_collector]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_opc_stage VERILATOR_ARGS="-GNumWarps=1"

  tb_register_opc_stage_single_warp_single_bank:
    runs-on: self-hosted
    needs: [tb_register_file_bank_singleport, tb_register_file_bank_dualport, tb_operand_collector]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_opc_stage VERILATOR_ARGS="-GNumWarps=1 -GNumBanks=1"

  # Load Store Unit Testbenches
  tb_coalesce_comparator:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_coalesce_comparator
    
  tb_coalesce_splitter:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_coalesce_splitter

  tb_wdata_assembler:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_wdata_assembler

  tb_load_store_unit:
    runs-on: self-hosted
    needs: [tb_coalesce_comparator, tb_coalesce_splitter, tb_wdata_assembler]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_load_store_unit
