name: Xilinx Simulation
on: [push, pull_request, workflow_dispatch]
jobs:
  # Main testbench for BGPU SoC
  xilinx_tb_bpu_soc:
    runs-on: self-hosted
    needs: xilinx_tb_compute_unit
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_bgpu_soc BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk" VERILATOR_ARGS='-DBENCHMARK=\"add_2\"'

  # Main testbench for compute unit
  xilinx_tb_compute_unit:
    runs-on: self-hosted
    needs: [xilinx_tb_instruction_cache, xilinx_tb_register_opc_stage]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_compute_unit BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  # Instruction Cache Testbench
  xilinx_tb_instruction_cache:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_instruction_cache BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  # Register File Bank Testbenches
  xilinx_tb_register_file_bank_singleport_1x1:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0 -GNumRegisters=512 -GWarpWidth=2" BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  xilinx_tb_register_file_bank_singleport_2x1:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0 -GNumRegisters=1024 -GWarpWidth=2" BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  xilinx_tb_register_file_bank_singleport_1x2:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0 -GNumRegisters=512 -GWarpWidth=4" BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  xilinx_tb_register_file_bank_singleport_2x2:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0 -GNumRegisters=1024 -GWarpWidth=4" BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"

  # Register Operand Collector Stage Testbenches
  xilinx_tb_register_opc_stage:
    runs-on: self-hosted
    needs: [xilinx_tb_register_file_bank_singleport_1x1, xilinx_tb_register_file_bank_singleport_2x1, xilinx_tb_register_file_bank_singleport_1x2, xilinx_tb_register_file_bank_singleport_2x2]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Restore .bender from cache
        uses: actions/cache@v4
        with:
            path: |
                .bender
                vendor
            key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
      - name: Simulate
        run: make PROCESSORS=8 tb_register_opc_stage BENDER_TARGET_SIM="-t xilinx_sim -t tech_cells_generic_exclude_tc_sram -t tech_cells_generic_exclude_tc_clk"
