name: Simulate
on: [push, pull_request, workflow_dispatch]
jobs:
  # Main testbench for BGPU SoC
  gowin_tb_bpu_soc:
    runs-on: self-hosted
    needs: [gowin_tb_compute_unit]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_bgpu_soc BENDER_TARGET_SIM="-t gowin_sim -t tech_cells_generic_exclude_tc_sram"

  # Main testbench for compute unit
  gowin_tb_compute_unit:
    runs-on: self-hosted
    needs: [gowin_tb_instruction_cache, gowin_tb_register_opc_stage]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_compute_unit BENDER_TARGET_SIM="-t gowin_sim -t tech_cells_generic_exclude_tc_sram"

  # Instruction Cache Testbench
  gowin_tb_instruction_cache:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_instruction_cache BENDER_TARGET_SIM="-t gowin_sim -t tech_cells_generic_exclude_tc_sram"

  # Register File Bank Testbenches
   gowin_tb_register_file_bank_singleport:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_file_bank VERILATOR_ARGS="-GDualPort=1\'b0" BENDER_TARGET_SIM="-t gowin_sim -t tech_cells_generic_exclude_tc_sram"

  # Register Operand Collector Stage Testbenches
  gowin_tb_register_opc_stage:
    runs-on: self-hosted
    needs: [gowin_tb_register_file_bank_singleport]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Simulate
        run: make tb_register_opc_stage BENDER_TARGET_SIM="-t gowin_sim -t tech_cells_generic_exclude_tc_sram"
