name: Gowin Synthesis
on: [push, pull_request, workflow_dispatch]
jobs:
    cu-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=compute_unit
            - name: Report Area
              run: make gowin-report
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=compute_unit
            - name: Show report
              run: make gowin-yosys-report TOP=compute_unit
            - name: Copy netlist...
              run: cp gowin/out/compute_unit_yosys.v gowin/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_compute_unit BENDER_TARGET_SIM="-t sim -t gowin_postsynth -t post_synth"
            - name: Archive Results on Failure
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: cu-gowin-synthesis-results-on-failure
                path: |
                    *.log
                    cu.vcd
                    gowin/out/compute_unit_yosys.v
                    gowin/gowin-yosys.f
                    gowin/gowin.log

    cu-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=compute_unit
            - name: Show report
              run: make gowin-eda-report TOP=compute_unit

    cc-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=compute_cluster_synth_wrapper
            - name: Report Area
              run: make gowin-report TOP=compute_cluster_synth_wrapper
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=compute_cluster_synth_wrapper
            - name: Show report
              run: make gowin-yosys-report TOP=compute_cluster_synth_wrapper
            - name: Archive Results on Failure
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: cc-gowin-synthesis-results-on-failure
                path: |
                    *.log
                    cc.vcd
                    gowin/out/compute_cluster_yosys.v
                    gowin/gowin-yosys.f
                    gowin/gowin.log

    cc-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=compute_cluster_synth_wrapper
            - name: Show report
              run: make gowin-eda-report TOP=compute_cluster_synth_wrapper

    bgpu-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=bgpu_soc
            - name: Report Area
              run: make gowin-report TOP=bgpu_soc
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=bgpu_soc
            - name: Show report
              run: make gowin-yosys-report TOP=bgpu_soc
            - name: Copy netlist...
              run: cp gowin/out/bgpu_soc_yosys.v gowin/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_bgpu_soc BENDER_TARGET_SIM="-t sim -t gowin_postsynth -t post_synth"
            - name: Archive Results on Failure
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: bgpu-gowin-synthesis-results-on-failure
                path: |
                    *.log
                    bgpu_soc.vcd
                    gowin/out/bgpu_soc_yosys.v
                    gowin/gowin-yosys.f
                    gowin/gowin.log

    bgpu-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Restore .bender from cache
              uses: actions/cache@v4
              with:
                path: |
                    .bender
                    vendor
                key: bender-cache-${{ hashFiles('Bender.yml', 'Bender.local', 'Bender.lock') }}
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=bgpu_soc
            - name: Show report
              run: make gowin-eda-report TOP=bgpu_soc
