name: Synthesis
on: [push, pull_request, workflow_dispatch]
jobs:
    cu-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=compute_unit
            - name: Report Area
              run: make gowin-report
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=compute_unit
            - name: Show report
              run: make gowin-yosys-report TOP=compute_unit
            - name: Copy netlist...
              run: cp gowin/out/compute_unit_yosys.v gowin/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_compute_unit BENDER_TARGET_SIM="-t sim -t gowin_postsynth -t post_synth"

    cu-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=compute_unit
            - name: Show report
              run: make gowin-eda-report TOP=compute_unit

    cu-xilinx-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Xilinx FPGA
              run: make xilinx-yosys TOP=compute_unit
            - name: Report Area
              run: tail -n 32 xilinx/yosys.log
            - name: Copy netlist...
              run: cp xilinx/out/compute_unit_yosys.v xilinx/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_compute_unit BENDER_TARGET_SIM="-t sim -t xilinx_postsynth -t post_synth" VERILATOR_ARGS="-Wno-PINMISSING"

    cu-asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for ASIC
              run: make asic TOP=compute_unit
            - name: Report Area
              run: make asic-report TOP=compute_unit

    cc-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=compute_cluster_synth_wrapper
            - name: Report Area
              run: make gowin-report TOP=compute_cluster_synth_wrapper
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=compute_cluster_synth_wrapper
            - name: Show report
              run: make gowin-yosys-report TOP=compute_cluster_synth_wrapper

    cc-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=compute_cluster_synth_wrapper
            - name: Show report
              run: make gowin-eda-report TOP=compute_cluster_synth_wrapper

    cc-xilinx-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Xilinx FPGA
              run: make xilinx-yosys TOP=compute_cluster_synth_wrapper
            - name: Report Area
              run: tail -n 32 xilinx/yosys.log

    cc-asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for ASIC
              run: make asic TOP=compute_cluster_synth_wrapper
            - name: Report Area
              run: make asic-report TOP=compute_cluster_synth_wrapper

    bgpu-gowin-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Gowin FPGA
              run: make gowin-yosys TOP=bgpu_soc
            - name: Report Area
              run: make gowin-report TOP=bgpu_soc
            - name: Generating report...
              run: DISPLAY=:1.0 make gowin-yosys-gen-report TOP=bgpu_soc
            - name: Show report
              run: make gowin-yosys-report TOP=bgpu_soc
            - name: Copy netlist...
              run: cp gowin/out/bgpu_soc_yosys.v gowin/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_bgpu_soc BENDER_TARGET_SIM="-t sim -t gowin_postsynth -t post_synth"

    bgpu-gowin-eda:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Gowin EDA Synthesis for Gowin FPGA
              run: DISPLAY=:1.0 make gowin-eda TOP=bgpu_soc
            - name: Show report
              run: make gowin-eda-report TOP=bgpu_soc

    bgpu-xilinx-yosys:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Yosys Synthesis for Xilinx FPGA
              run: make xilinx-yosys TOP=bgpu_soc
            - name: Report Area
              run: tail -n 32 xilinx/yosys.log
            - name: Copy netlist...
              run: cp xilinx/out/bgpu_soc_yosys.v xilinx/out/post_synth.v
            - name: Post Synthesis Simulation
              run: make tb_bgpu_soc BENDER_TARGET_SIM="-t sim -t xilinx_postsynth -t post_synth" VERILATOR_ARGS="-Wno-PINMISSING"
            - name: Archive Results on Failure
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: bgpu-xilinx-synthesis-results
                path: |
                    bgpu_soc.vcd
                    xilinx/out/bgpu_soc_yosys.v
                    xilinx/yosys.f
                    xilinx/yosys.log

    bgpu-asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for ASIC
              run: make asic TOP=bgpu_soc
            - name: Report Area
              run: make asic-report TOP=bgpu_soc
