name: Synthesize
on: [push, pull_request, workflow_dispatch]
jobs:
    gowin:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesize
              run: make gowin

    asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesize
              run: make asic
