name: Synthesis
on: [push, pull_request, workflow_dispatch]
jobs:
    gowin:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for Gowin FPGA
              run: make gowin
            - name: Report Area
              run: make gowin-report
            - name: Post Synthesis Simulation
              run: make tb_compute_unit BENDER_TARGET_SIM="-t sim -t gowin_postsynth -t post_synth" VERILATOR_ARGS="-Wno-MODDUP"

    asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for ASIC
              run: make asic
            - name: Report Area
              run: make asic-report
