name: Synthesis
on: [push, pull_request, workflow_dispatch]
jobs:
    gowin:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for Gowin FPGA
              run: make gowin
            - name: Report Area
              run: make gowin-report

    asic:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Synthesis for ASIC
              run: make asic
            - name: Report Area
              run: make asic-report
